.div-1 button{
     border-radius: 3px;
    color:rgb(135, 54, 54);
    font-style: italic;
    text-align: center;
    position: relative;
    padding:5px;
    top:100px;
}

.div-2 button{
    border-radius: 10px;
    color:rgba(0, 0, 0, 0.555);
    text-align: center;
    position: relative;
  }


}

#div1 {
    font-style: bold;
}
